$primaryColor: rgb(255, 119, 0);
$secondaryColor: rgb(255, 255, 255);
$fontColor: black;

$defaultFont: 'Josefin Sans', sans-serif;
$lightweight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;
